<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='gestisci collezioni')"></head>
<body>

	<!-- inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->

	<header class="container text-center">
		<h2>
			Gestisci: <strong>Collezioni</strong>
		</h2>
	</header>



	<main class="container">

		<h3 th:text="#{header.registration}">1) Registrazione</h3>

		<!-- inizio REGISTRAZIONE COLLEZIONE -->
		<!-- Button trigger modal -->
		<a data-bs-toggle="modal" href="#exampleModal" th:text="#{modal-action.registration.collection}"> Registra una collezione </a>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel" th:text="#{modal.registration.collection}">Registrazione di una collezione</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"	aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<form action="#" th:action="@{/admin/collezione}" th:object="${collezione}" method="post">
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="floatingInput" placeholder="nome collezione" th:field="*{nome}" required>
								<label for="floatingInput">nome della collezione</label> 
							</div>
							
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="floatingInput" placeholder="descrizione" th:field="*{descrizione}">
								<label for="floatingInput">descrizione</label> 
							</div>
							
							
							
							<div class="form-group mb-3">
								<label class="col-form-label">curatore</label> 
								<div class="col-sm-8">
								<select class="form-control" th:field="*{curatore}" required>
								 
								 	<th:block th:each="singoloCuratore : ${curatori}">
										<option th:text="|${singoloCuratore.nome}  ${singoloCuratore.cognome}|" th:value=${singoloCuratore.matricola} />
									</th:block>
									
								</select>
								</div>
								
							</div>
							
							 
							<button type="submit" class="btn btn-primary">Registra</button>
						</form>

					</div>

				</div>
			</div>
		</div>
		<!-- fine REGISTRAZIONE COLLEZIONE -->
		

		<h3 class="mt-5">2) Visualizzazione</h3>
		<!-- inizio Collezioni -->
		<div class="accordion" id="accordionExample">
		
			<div class="accordion-item" th:each="collezioneSelezionata : ${collezioni}">
				<h2 class="accordion-header" th:id="|heading-|+|${collezioneSelezionata.aliasNome}|">
					 <button class="accordion-button" type="button" data-bs-toggle="collapse" 
					th:data-bs-target="|#|+|${collezioneSelezionata.aliasNome}|" aria-expanded="true" th:aria-controls="${collezioneSelezionata.aliasNome}" th:text="${collezioneSelezionata.nome}">Notti di inverno</button>
				</h2>
				<div th:id="${collezioneSelezionata.aliasNome}" class="accordion-collapse collapse"	th:aria-labelledby="|heading-|+|${collezioneSelezionata.aliasNome}|" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						
							<!-- inizio TABELLA -->
							<table class="table table-striped">
							
								<p class="credits">
									<span class="credits__a-cura-di"> a cura di </span>
									<a th:href="@{/admin/gestisciCuratori}">
									<span class="credits__curatore" th:text="|${collezioneSelezionata.curatore.nome} ${collezioneSelezionata.curatore.cognome}|">
										Otto
									</span></a>
								</p>
								<p th:text="${collezioneSelezionata.descrizione}">descrizione</p>
								<thead>
									<tr>
										<th scope="col" th:text="#{table.id}">#</th>
										<td scope="col" th:text="#{table.title}">opera</td>
										<td scope="col" th:text="#{table.artist}">artista</td>
										<td scope="col" th:text="#{table.thumbnail}">*img*</td>
									</tr>
								</thead>
								<tbody>
								
									<tr th:each="opera : ${collezioneSelezionata.opere}">
										<th scope="row" th:text="${opera.id}">#</th>
										<td scope="col" th:text="${opera.titolo}">opera</td>
										<td scope="col" th:text="${opera.artista.nome}">artista</td>
										<td scope="col">*img*</td>
									</tr>
									
									
									
								</tbody>
							</table>
							<!-- fine TABELLA -->
						
						<p class="mt-4"><a th:href="@{'/collezione/delete/' + ${collezioneSelezionata.id}}" th:text="#{remove.collection}">Rimuovi</a></p>
					</div>
					
				</div>
				
			</div>
			
			
		</div>
		<!-- fine Collezioni -->

	</main>



	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->

	<th:block th:replace="fragments/base.html :: script"></th:block>

</body>
</html>
