<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>
<body>

	<!-- inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->

	<header class="container text-center">
		<h2>
			Gestisci: <strong>Collezioni</strong>
		</h2>
	</header>



	<main class="container">

		<h3>1) Registrazione</h3>

		<!-- inizio REGISTRAZIONE COLLEZIONE -->
		<!-- Button trigger modal -->
		<a data-bs-toggle="modal" href="#exampleModal"> Registra una
			collezione </a>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Registrazione</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<form>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">nome
									della collezione</label> <input type="email" class="form-control"
									id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">nome
									del curatore</label> <input type="email" class="form-control"
									id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
							<button type="submit" class="btn btn-primary">Registra</button>
						</form>

					</div>

				</div>
			</div>
		</div>
		<!-- fine REGISTRAZIONE COLLEZIONE -->

		<h3 class="mt-5">2) Visualizzazione</h3>
		<!-- inizio Collezioni -->
		<div class="accordion" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapseOne"
						aria-expanded="true" aria-controls="collapseOne">
						Notti di inverno <span> di Otto</span>
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show"
					aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="accordion-body">
							<!-- inizio TABELLA -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">opera</th>
										<th scope="col">artista</th>
										<th scope="col">miniatura</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">1</th>
										<td>Notti di inverno</td>
										<td>Otto</td>
										<td>**img**</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Jacob</td>
										<td>Thornton</td>
										<td>**img**</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td colspan="2">Larry the Bird</td>
										<td>**img**</td>
									</tr>
								</tbody>
							</table>
							<!-- fine TABELLA -->
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingTwo">
					<button class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapseTwo"
						aria-expanded="false" aria-controls="collapseTwo">
						Notti di inverno <span> di Otto</span>
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse"
					aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="accordion-body">
							<!-- inizio TABELLA -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">opera</th>
										<th scope="col">artista</th>
										<th scope="col">miniatura</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">1</th>
										<td>Notti di inverno</td>
										<td>Otto</td>
										<td>**img**</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Jacob</td>
										<td>Thornton</td>
										<td>**img**</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td colspan="2">Larry the Bird</td>
										<td>**img**</td>
									</tr>
								</tbody>
							</table>
							<!-- fine TABELLA -->
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingThree">
					<button class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapseThree"
						aria-expanded="false" aria-controls="collapseThree">
						Notti di inverno <span> di Otto</span>
					</button>
				</h2>
				<div id="collapseThree" class="accordion-collapse collapse"
					aria-labelledby="headingThree" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="accordion-body">
							<!-- inizio TABELLA -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">opera</th>
										<th scope="col">artista</th>
										<th scope="col">miniatura</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">1</th>
										<td>Notti di inverno</td>
										<td>Otto</td>
										<td>**img**</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Jacob</td>
										<td>Thornton</td>
										<td>**img**</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td colspan="2">Larry the Bird</td>
										<td>**img**</td>
									</tr>
								</tbody>
							</table>
							<!-- fine TABELLA -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fine Collezioni -->

	</main>



	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->

	<th:block th:replace="fragments/base.html :: script"></th:block>

</body>
</html>
