<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='gestisci collezioni')"></head>
<body>

	<!-- inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->

	<header class="container text-center">
		<h2>
			Gestisci: <strong>Collezioni</strong>
		</h2>
	</header>



	<main class="container">

		<h3 th:text="#{header.registration}">1) Registrazione</h3>

		<!-- inizio REGISTRAZIONE COLLEZIONE -->
		<!-- Button trigger modal -->
		<a data-bs-toggle="modal" href="#inputModal" th:text="#{modal-action.registration.collection}"> Registra una collezione </a>

		<!-- Modal -->
		<div class="modal fade" id="inputModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel" th:text="#{modal.registration.collection}">Registrazione di una collezione</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"	aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<form action="#" th:action="@{/admin/collezione}" th:object="${collezione}" method="post">
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="floatingInput" placeholder="nome collezione" th:field="*{nome}" required>
								<label for="floatingInput">nome della collezione</label> 
							</div>
							
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="floatingInput" placeholder="descrizione" th:field="*{descrizione}">
								<label for="floatingInput">descrizione</label> 
							</div>

							<div class="form-group mb-3">
								<label class="col-form-label">curatore</label> 
								<div class="col-sm-8">
								<select class="form-control" th:field="*{curatore}" required>
								 
								 	<th:block th:each="singoloCuratore : ${curatori}">
										<option th:text="|${singoloCuratore.nome}  ${singoloCuratore.cognome}|" th:value=${singoloCuratore.matricola} />
									</th:block>
								</select>
								</div>
							</div>
							<button type="submit" class="btn btn-outline-dark">Registra</button>
						</form>

					</div>

				</div>
			</div>
		</div>
		<!-- fine REGISTRAZIONE COLLEZIONE -->
		

		<h3 class="mt-5">2) Visualizzazione</h3>
		<!-- inizio TABELLA Collezioni -->
		<div class="accordion mb-5" id="accordionExample">
		
			<div class="accordion-item" th:each="collezioneSelezionata : ${collezioni}">
				<h2 class="accordion-header" th:id="|heading-|+|${collezioneSelezionata.id}|">
					 <button class="accordion-button" type="button" data-bs-toggle="collapse" 
					th:data-bs-target="|#|+|collezione-|+|${collezioneSelezionata.id}|" aria-expanded="true" th:aria-controls="${collezioneSelezionata.id}" th:text="${collezioneSelezionata.nome}">Notti di inverno</button>
				</h2>
				<div th:id="|collezione-| + |${collezioneSelezionata.id}|" class="accordion-collapse collapse"	th:aria-labelledby="|heading-|+|${collezioneSelezionata.id}|" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						
							<!-- inizio TABELLA -->
							<div class="table-responsive">
								<table class="table table-striped">
								
									<p> ID: 
									<span th:text="${collezioneSelezionata.id}"></span>
									</p>
								
									<p class="credits">
										<span class="credits__a-cura-di"> a cura di </span>
										<a th:href="@{/admin/gestisciCuratori}">
											<span class="credits__curatore" th:text="|${collezioneSelezionata.curatore.nome} ${collezioneSelezionata.curatore.cognome}|">Otto</span>
										</a>
									</p>
									
									<p th:text="${collezioneSelezionata.descrizione}">descrizione</p>
									<thead>
										<tr>
											<th scope="col" th:text="#{table.id}">#</th>
											<td scope="col" th:text="#{table.thumbnail}">*img*</td>
											<td scope="col" th:text="#{table.title}">opera</td>
											<td scope="col" th:text="#{table.artist}">artista</td>
										</tr>
									</thead>
									<tbody>
										<tr th:each="opera : ${collezioneSelezionata.opere}">
											<th scope="row" th:text="${opera.id}">#</th>
											<td scope="col">
												<img class="icon-img" alt="quadro" th:alt="${opera.titolo}" th:src="@{'/img/opere/' + ${opera.immagine}}">
											</td>
											<td scope="col">
												<a th:href="@{'/opera' + '/' + ${opera.id}}" th:text="${opera.titolo}">Notte stellata</a>
											</td>
											<td scope="col">
												<a th:href="@{'/artista' + '/' + ${opera.artista.id}}" th:text="|${opera.artista.nome} ${opera.artista.cognome}|">Notte stellata</a>
											</td>
										</tr>
										<tr>
											<td scope="row">
												<a href="collezione.html" th:href="@{'/collezione' + '/' + ${collezioneSelezionata.id}}">
													<p>guarda la collezione</p>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- fine TABELLA -->
						<a data-bs-toggle="modal" href="#deleteModal" th:href="|#|+|collezioneDaEliminare-|+|${collezioneSelezionata.id}|"> Rimuovi </a>
						<!-- Modal -->
						<div class="modal fade" id="deleteModal" th:id="|collezioneDaEliminare-|+|${collezioneSelezionata.id}|" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel" th:text="#{modal.delete.collection}">Eliminazione di una collezione</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"	aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="alert alert-danger" role="alert">Attenzione! Con la cancellazione della collezione si otterrà anche l'eliminazione
											di tutte le opere registrate all'interno della stessa.</div>
											<p class="mt-4"><a th:href="@{'/collezione/delete/' + ${collezioneSelezionata.id}}" th:text="#{remove.collection}">Rimuovi</a></p>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- fine TABELLA Collezioni -->
		
		
		
		<h3 th:text="#{header.modify}">3) Modifica</h3>

		<!-- inizio REGISTRAZIONE COLLEZIONE -->
		<!-- Button trigger modal -->
		<a data-bs-toggle="modal" href="#modifyModal" th:text="#{modal-action.modify.collection}"> Modifica una collezione </a>

		<!-- Modal -->
		<div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel" th:text="#{modal.modify.collection}">Modifica di una collezione</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"	aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<form action="#" th:action="@{/admin/modifica/collezione}" th:object="${collezione}" method="post">
							<div class="form-floating mb-3">
								<input type="number" class="form-control" id="floatingInput" placeholder="nome collezione" th:field="*{id}" required>
								<label for="floatingInput">ID</label> 
							</div>
							
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="floatingInput" placeholder="nome collezione" th:field="*{nome}" required>
								<label for="floatingInput">nome della collezione</label> 
							</div>
							
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="floatingInput" placeholder="descrizione" th:field="*{descrizione}">
								<label for="floatingInput">descrizione</label> 
							</div>

							<div class="form-group mb-3">
								<label class="col-form-label">curatore</label> 
								<div class="col-sm-8">
								<select class="form-control" th:field="*{curatore}" required>
								 
								 	<th:block th:each="singoloCuratore : ${curatori}">
										<option th:text="|${singoloCuratore.nome}  ${singoloCuratore.cognome}|" th:value=${singoloCuratore.matricola} />
									</th:block>
								</select>
								</div>
							</div>
							<button type="submit" class="btn btn-outline-dark">Modifica</button>
						</form>

					</div>

				</div>
			</div>
		</div>
		<!-- fine REGISTRAZIONE COLLEZIONE -->

	</main>



	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->

	<th:block th:replace="fragments/base.html :: script"></th:block>

</body>
</html>
