<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='gestisci artista')"></head>
<body>

	<!-- inizio MENU -->
	<nav th:replace="fragments/base.html :: menu-admin"></nav> 
	<!-- fine MENU -->

	<header class="container text-center">
		<h2>
			Gestisci: <strong>Artisti</strong>
		</h2>
	</header>


	<main class="container">

		<h3>1) Registrazione</h3>
		
		<!-- 
		<div>
			<a href="addArtista">Registra un artista</a>
   		</div>
		 -->
		

		<!-- inizio REGISTRAZIONE CURATORE -->
		<!-- Button trigger modal -->
		 <a data-bs-toggle="modal" href="#exampleModal"> Registra un artista </a> 
		

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Registrazione dell'artista</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"	aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<form th:action="@{/admin/artista}" method="POST" th:object="${artista}">

							<div th:if="${#fields.hasGlobalErrors()}">
								<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
							</div>

							<div class="row">
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="floatingInput" placeholder="nome" th:field="*{nome}" required> 
										<label for="floatingInput">nome</label>
									</div>
								</div>
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="floatingInput" placeholder="cognome" th:field="*{cognome}" required> 
										<label for="floatingInput">cognome</label>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="date" class="form-control" id="floatingInput" placeholder="00/00/0000" th:field="*{dataDiNascita}"> 
										<label for="floatingInput">data di nascita</label>
									</div>
								</div>
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="floatingInput" placeholder="luogo_di_nascita" th:field="*{luogoDiNascita}">
										<label for="floatingInput">luogo di nascita</label>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="date" class="form-control" id="floatingInput" placeholder="00/00/0000" th:field="*{dataDiMorte}"> 
										<label for="floatingInput">data di morte</label>
									</div>
								</div>
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="floatingInput" placeholder="luogo_di_morte" th:field="*{luogoDiMorte}"> 
										<label for="floatingInput">luogo di morte</label>
									</div>
								</div>
							</div>
							
							
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="floatingInput" placeholder="biografia" th:field="*{biografia}"> 
								<label for="floatingInput">biografia</label>
							</div>
							
							

							
							<!-- 
							
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="floatingInput"	placeholder="italia" th:field="*{nazionalità}"> 
								<label for="floatingInput">nazionalità</label>
							</div>
							 -->

							<button type="submit" class="btn btn-primary">Registra</button>
							
						</form>

					</div>

				</div>
			</div>
		</div>
		<!-- fine REGISTRAZIONE CURATORE -->

		<h3 class="mt-5">2) Visualizzazione</h3>
		<!-- inizio TABELLA -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">nome & cognome</th>
					<th scope="col">data nascita</th>
					<th scope="col">luogo nascita</th>
					<th scope="col">data morte</th>
					<th scope="col">luogo morte</th>
					
					<!-- 
					<th scope="col">nazionalità</th>
					 -->
					
					<th scope="col">biografia</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="artista : ${artisti}">
					<th scope="row">1</th>
					<td th:href="@{'/artista' + '/' + ${artista.cognome}}"> 
						<span th:text="${artista.nome}">Mario</span>
						<span th:text="${artista.cognome}">Rossi</span>
					</td>
					
					<!-- <td>Rossi</td> -->
					<td th:text="${artista.dataDiNascita}">06/06/1990</td>
					<td th:text="${artista.luogoDiNascita}">Roma</td>
					<td th:text="${artista.dataDiMorte}">06/06/2990</td>
					<td th:text="${artista.luogoDiMorte}">Milano</td>
					

					
					<td th:text="${artista.biografia}">biografia</td>
					
					<!-- 
					<td th:text="${artista.nazionalita}">Italia</td>
					
					<td >
						<ul th:each="opera : ${artisti.opere}">
							<li></li>
						</ul>
					</td>
					 -->
					
				</tr>
				
			</tbody>
		</table>
		<!-- fine TABELLA -->

	</main>



	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->

	<th:block th:replace="fragments/base.html :: script"></th:block>

</body>
</html>
