<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>
<body>

	<!-- inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->

	<header class="container text-center">
		<h2>
			Gestisci: <strong>Artisti</strong>
		</h2>
	</header>


	<main class="container">

		<h3>1) Registrazione</h3>

		<!-- inizio REGISTRAZIONE CURATORE -->
		<!-- Button trigger modal -->
		<a data-bs-toggle="modal" href="#exampleModal"> Registra un	artista </a>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Registrazione
							dell'artista</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"	aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<form>
							<div class="row">
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="email" class="form-control" id="floatingInput"
											placeholder="nome"> <label for="floatingInput">nome</label>
									</div>
								</div>
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="email" class="form-control" id="floatingInput"
											placeholder="cognome"> <label for="floatingInput">cognome</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="email" class="form-control" id="floatingInput"
											placeholder="00/00/0000"> <label for="floatingInput">data
											di nascita</label>
									</div>
								</div>
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="email" class="form-control" id="floatingInput"
											placeholder="luogo_di_nascita"> <label
											for="floatingInput">luogo di nascita</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="email" class="form-control" id="floatingInput"
											placeholder="00/00/0000"> <label for="floatingInput">data
											di morte</label>
									</div>
								</div>
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input type="email" class="form-control" id="floatingInput"
											placeholder="luogo_di_nascita"> <label
											for="floatingInput">luogo di morte</label>
									</div>
								</div>
							</div>

							<div class="form-floating mb-3">
								<input type="email" class="form-control" id="floatingInput"
									placeholder="italia"> <label for="floatingInput">nazionalità</label>
							</div>

							<div class="form-floating mb-3">
								<input type="email" class="form-control" id="floatingInput"
									placeholder="italia"> <label for="floatingInput">biografia</label>
							</div>

							<button type="submit" class="btn btn-primary">Registra</button>
						</form>

					</div>

				</div>
			</div>
		</div>
		<!-- fine REGISTRAZIONE CURATORE -->

		<h3 class="mt-5">2) Visualizzazione</h3>
		<!-- inizio TABELLA -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">nome</th>
					<th scope="col">cognome</th>
					<th scope="col">data nascita</th>
					<th scope="col">luogo nascita</th>
					<th scope="col">data morte</th>
					<th scope="col">luogo morte</th>
					<th scope="col">nazionalità</th>
					<th scope="col">biografia</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mario</td>
					<td>Rossi</td>
					<td>06/06/1990</td>
					<td>Roma</td>
					<td>06/06/2990</td>
					<td>Milano</td>
					<td>Italia</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat
						nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum.
					</td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>Mario</td>
					<td>Rossi</td>
					<td>06/06/1990</td>
					<td>Roma</td>
					<td>06/06/2990</td>
					<td>Milano</td>
					<td>Italia</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat
						nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
						enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat
						nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum.
					</td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>Mario</td>
					<td>Rossi</td>
					<td>06/06/1990</td>
					<td>Roma</td>
					<td>06/06/2990</td>
					<td>Milano</td>
					<td>Italia</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat
						nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum.
					</td>
				</tr>
			</tbody>
		</table>
		<!-- fine TABELLA -->

	</main>



	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->

	<th:block th:replace="fragments/base.html :: script"></th:block>

</body>
</html>
