<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Artista</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
 -->
<head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>
<body class="artista">

	<!-- inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->

	<h2 class="background-text">Vincent Van Gogh</h2>


	<!-- inizio HERO -->
	<header class="container mb-lg-5">
		<div class="row opere-2-colonne">

			<div class="col-lg-8">
				<img src="img/vanGogh1.jpg" class="card-img-top" alt="Van Gogh">
			</div>
			<div class="col-lg-4">
				<div class="dark-panel panel--right p-4">
					<h1>Vincent Van Gogh</h1>
					<ul class="artist-info">
						<li>nome: <strong>Vincent</strong></li>
						<li>cognome: <strong>Van Gogh</strong></li>
						<li>data di nascita: <strong>30 Marzo 1890</strong></li>
						<li>data di morte: <strong>29 Luglio 1890</strong></li>
						<li>nazionalità: <strong>olandese</strong></li>
					</ul>
				</div>
			</div>

		</div>
	</header>
	<!-- fine HERO -->


	<main>
		<!-- inizio BIOGRAFIA -->
		<div class="container mb-5">
			<div class="row">
				<div class="col-lg-6 m-auto">
					<p>Notizie della famiglia dei van Gogh si rintracciano a L'Aia
						fin dalla metà del XVII secolo e a partire dal Settecento quella
						famiglia trasmise di padre in figlio il mestiere di orefice. Nel
						primo Ottocento si ha notizia di un Vincent van Gogh (1789-1874),
						pastore calvinista e padre di undici figli che praticavano diverse
						attività: tre di loro erano mercanti d'arte, mentre si sa che
						Theodorus van Gogh (1822-1885) dal 1º aprile 1849 fu un pastore
						della società riformata olandese, residente presso la piccola
						comunità di Groot-Zundert, un villaggio vicino Brabante ,di circa
						seimila abitanti. Sposatosi nel 1851 con Anna Cornelia Carbentus
						(1819-1907), figlia di un facoltoso rilegatore di libri della
						corte olandese, Theodorus generò con lei un figlio, Vincent Willem
						Maria, che tuttavia il 30 marzo 1852 fu partorito già morto.

						Esattamente l'anno dopo la Carbentus diede alla luce il primo
						figlio, il futuro pittore, che verrà battezzato Vincent Willem in
						ricordo del defunto fratellino: «fin dal primo giorno, quindi, la
						vita di Vincent fu segnata da una triste coincidenza» commenta il
						critico Rainer Metzger «numerosi psicologi, per contro, non
						mancarono di sottolineare che questo bambino, in un certo senso,
						era venuto al mondo nell'anniversario della morte di suo fratello
						e videro in ciò la radice dell'inclinazione dell'artista al
						paradosso».[11] Theodorus e Cornelia, in ogni caso, ebbero altri
						cinque figli: Anna Cornelia (1855-1930), Théodorus junior, ben
						presto denominato semplicemente Théo (1º maggio 1857-25 gennaio
						1891), Elisabeth (1859-1936), Wilhelmina Jacoba (1862-1941) e
						Cornelis (1867-1900).[12] Dal gennaio 1861 al settembre 1864
						Vincent van Gogh studiò alla scuola del paese e dal 1º ottobre
						1864 frequentò un collegio della vicina Zevenbergen, dove apprese
						il francese, l'inglese, il tedesco e l'arte del disegno. Dal 1866
						frequentò un'altra scuola presbiteriale, la scuola secondaria di
						Tilburg, con professore di arte il pittore Constant Cornelis
						Huijsmans.[13][14] Ma il 19 marzo 1868, a causa dello scarso
						rendimento nonché per via di alcuni problemi economici sofferti
						dal padre, ritornò a Zundert senza aver concluso gli studi.[15]
						Furono tutto sommato anni felici e lieti che verranno ricordati da
						Vincent con grande nostalgia, come leggiamo nella lettera 573:

						«Durante la mia malattia ho visto accanto a me ogni stanza della
						casa di Zundert, ogni strada, ogni pianta del giardino, i
						dintorni, i campi, i vicini, il cimitero, la chiesa col suo orto e
						persino il nido di gazze sulla grande acacia del cimitero»

						(Vincent van Gogh[16]) Il lavoro nella casa d'arte Goupil
						(1869-1875) La scarsità del suo profitto scolastico convinse la
						famiglia a trovargli un impiego: il primo a farsi avanti fu lo zio
						paterno Vincent detto «Cent» (1811-1889), già mercante
						d'antiquariato. Egli persuase il fratello (il padre di Vincent) a
						far sospendere gli studi al nipote in modo da metterlo al lavoro
						nel più breve tempo possibile. Infatti nel luglio del 1869 Cent
						raccomandò il nipote alla filiale dell'Aia della Goupil & Co, una
						notissima casa d'arte specializzata nella riproduzione di stampe,
						ma che non esitava ad avvalersi della collaborazione di pittori
						celebri.[17] Il giovane Vincent, all'inizio si dedicò con grande
						coscienziosità e dedizione al suo lavoro, che consisteva nel
						vendere litografie, fotografie, dipinti, calcografie, acqueforti o
						riproduzioni, per lo più di opere della scuola dell'Aia o dei
						pittori di Barbizon: tale mestiere, inoltre, lo stimolava ad
						approfondire tematiche culturali ed artistiche, a leggere e a
						frequentare musei e collezioni d'arte. Mantenne i contatti con la
						famiglia, che dal gennaio del 1871 si era trasferita a Helvoirt,
						dove il padre Theodorus svolgeva la sua attività pastorale.
						Vincent oltre a incontrare frequentemente a L'Aia il fratello
						Théo, intraprese con lui una corrispondenza che sarebbe durata per
						tutta la vita.[18] Nel 1873 il giovane Vincent fu trasferito nella
						filiale Goupil di Bruxelles e a maggio in quella di Londra.
						Durante il trasferimento nella capitale inglese van Gogh si fermò
						per alcuni giorni a Helvoirt, dai genitori, per poi fare
						affrettatamente sosta a Parigi, rimanendo affascinato dalla
						bellezza della città e dai fermenti culturali che l'animavano: la
						visita del Louvre e delle esposizioni di quadri al Salon lo
						colpirono profondamente.[19] A Londra disegnò schizzi di scorci
						cittadini, che tuttavia non conservò (ne rimane solo uno, peraltro
						assai rovinato e scoperto nel 1977, raffigurante la casa dove
						visse). Qui il giovane Vincent condusse una vita schiva e
						appartata e fu funestato dalla prima, cocentissima delusione
						amorosa. Egli, infatti, era accecato da un'ardente infatuazione
						nei confronti di Eugenie Loyer, figlia di Ursula, proprietaria
						della pensione presso la quale risiedeva: quando alla fine osò
						dichiararsi, van Gogh - inesperto di questioni amorose - scoprì
						tuttavia che l'amata Eugenie era già fidanzata.[20] Nel Borinage
						Tornato in famiglia per Natale, van Gogh fu dissuaso dai genitori,
						spaventati dalle sue precarie condizioni psicofisiche, dal
						ripartire per l'Inghilterra. Lo zio Cent gli trovò così un altro
						lavoro come commesso presso la libreria Blussé & Van Braam di
						Dordrecht. Anche in questo caso, tuttavia, van Gogh trascurò il
						lavoro, preferendo «lavorare» nel retrobottega dove poteva
						tradurre la Bibbia in inglese, francese e tedesco, forte delle
						proprie competenze linguistiche. Importante, a Dordrecht, fu
						l'amicizia con il coinquilino Paulus van Görlitz (entrambi,
						infatti, vivevano presso la casa del commerciante di cereali
						Rijkens),[26] il quale in uno scritto tratteggia molto vividamente
						la personalissima religiosità che animava l'amico, assetato di
						purificazione e di sentimenti puri: «Sotto molti aspetti era assai
						riservato, assai timido. Un giorno - ci conoscevamo da un mese -
						mi pregò, sempre col suo sorriso irresistibile: "Görlitz, tu puoi
						farmi un grossissimo favore, se vuoi". Risposi: "Dimmi, allora".
						"Insomma, questa meridiana di camera è in realtà la tua camera e
						vorrei avere il tuo permesso di appendere un paio di quadri".
						Acconsentii naturalmente subito e con zelo febbrile si mise al
						lavoro. Dopo un'ora, la stanza era piena di immagini bibliche e di
						Ecce Homo e, sotto la testa di Cristo, Van Gogh aveva scritto:
						"Sempre afflitto, ma sempre lieto"» (Vincent van Gogh)</p>
				</div>
			</div>
		</div>
		<!-- fine BIOGRAFIA -->


		<!-- inizio OPERE-scroll -->
		<div class="carosello">
			<div class="items">
				<div class="item item1">
					<img src="img/leonardo-1.jpeg" alt="">
					<div class="panel-info p-3">
						<a href="opera.html"><h3>Gioconda</h3></a> <a href="artista.html"><h4>
								- Leonardo Da Vinci</h4></a>
					</div>
				</div>
				<div class="item item2">
					<img src="img/raffaello-1.jpg" alt="">
					<div class="panel-info p-3">
						<a href="opera.html"><h3>Una scena ripresa a caso</h3></a> <a
							href="artista.html"><h4>- Raffaello</h4></a>
					</div>
				</div>
				<div class="item item3">
					<img src="img/VanGogh-1.jpg" alt="">
					<div class="panel-info p-3">
						<a href="opera.html"><h3>Notte stellata</h3></a> <a
							href="artista.html"><h4>- Van Gogh</h4></a>
					</div>
				</div>
				<div class="item item4">
					<img src="img/leonardo-1.jpeg" alt="">
					<div class="panel-info p-3">
						<a href="opera.html"><h3>Gioconda</h3></a> <a href="artista.html"><h4>
								- Leonardo Da Vinci</h4></a>
					</div>
				</div>
				<div class="item item5">
					<img src="img/VanGogh1.jpg" alt="">
					<div class="panel-info p-3">
						<a href="opera.html"><h3>Ritratto di Van Gogh</h3></a> <a
							href="artista.html"><h4>- Van Gogh</h4></a>
					</div>
				</div>
				<div class="item item6">
					<img src="img/raffaello-1.jpg" alt="">
					<div class="panel-info p-3">
						<a href="opera.html"><h3>Una scena a caso</h3></a> <a
							href="artista.html"><h4>- Raffaello</h4></a>
					</div>
				</div>
			</div>
		</div>
		<!-- fine OPERE-scroll -->
	</main>



	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->


	<script src="js/scripts.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
