<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='collezione')"></head>
<body class="collezione">

	<!-- inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->


	<!-- inizio HERO -->
	<div class="container">
		<header class="mb-4">
			<h1 class="text-center" th:text="${collezione.nome}">Nome della collezione</h1>
			<p class="text-center" th:text="|${collezione.curatore.nome} ${collezione.curatore.cognome}|">nome curatore</p>
		</header>
	</div>
	<!-- inizio HERO -->


	<main>
		<!-- inizio CAROSELLO -->
		<!-- inizio versione-desktop -->
		<div class="carosello">
			<div class="items">
				<div class="item" th:each="opera : ${collezione.opere}">
					<img th:src="@{'/img/opere/' + ${opera.immagine}}" width="100%" height="500">
					<div class="panel-info p-3">
						<a th:href="@{'/opera' + '/' + ${opera.id}}"><h3 th:text="${opera.titolo}">Gioconda</h3></a> 
						<a href="artista.html" th:href="@{'/artista' + '/' + ${opera.artista.id}}" >
							<h4 th:text="|${opera.artista.nome}  ${opera.artista.cognome}|">- Leonardo Da Vinci</h4>
						</a>
					</div>
				</div>
				
				<div class="item p-5">
					<div class="panel-more-art">
						<p>Guarda<br>le nostre</p>
						<a th:href="@{/collezioni}">Collezioni</a>
					</div>
				</div>
			</div>
		</div>
		<!-- fine versione-desktop -->



		<!-- inizio versione-mobile -->
		<div class="carosello-mobile" >
			<div class="item" th:each="opera : ${collezione.opere}">
				<img th:src="@{'/img/opere/' + ${opera.immagine}}" width="100%" height="500">
				<div class="panel-info p-2">
					<a th:href="@{'/opera' + '/' + ${opera.id}}">
						<h3 th:text="${opera.titolo}">Gioconda</h3>
					</a> 
					<a href="artista.html" th:href="@{'/artista' + '/' + ${opera.artista.id}}">
						<h4 th:text="|${opera.artista.nome}  ${opera.artista.cognome}|">- Leonardo Da Vinci</h4>
					</a>
				</div>
			</div>
			
			<div class="item item--more-art p-3">
				<div class="panel-more-art">
					<p>Guarda<br>le nostre</p>
					<a href="@{/collezioni}">Collezioni</a>
				</div>
			</div>
		</div>
		<!-- fine versione-mobile -->
		<!-- fine CAROSELLO -->
	</main>


	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->

	<th:block th:replace="fragments/base.html :: script"></th:block>
</body>
</html>
