<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='collezioni')"></head>
<body class="collezioni">

	<!-- inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->


	<!-- inizio HERO -->
	<div class="container mb-5">
		<header class="mb-4">
			<h1 class="text-center">Collezioni</h1>
		</header>
	</div>
	<!-- inizio HERO -->


	<main class="container">

		<!-- inizio TABELLA -->

		<!-- inizio Collezioni -->
		<div class="accordion" id="accordionExample">
		
			<div class="accordion-item" th:each="collezione : ${collezioni}">
				<h2 class="accordion-header" th:id="|heading-|+|${collezione.aliasNome}|">
					 <button class="accordion-button" type="button" data-bs-toggle="collapse" 
					th:data-bs-target="|#|+|${collezione.aliasNome}|" aria-expanded="true" th:aria-controls="${collezione.aliasNome}" th:text="${collezione.nome}">Notti di inverno</button>
				</h2>
				<div th:id="${collezione.aliasNome}" class="accordion-collapse collapse"	th:aria-labelledby="|heading-|+|${collezione.aliasNome}|" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="accordion-body">
							<!-- inizio TABELLA -->
							<table class="table table-striped">
							
							<p class="credits">
								<span class="credits__a-cura-di"> a cura di </span>
								<span class="credits__curatore" th:text="|${collezione.curatore.nome} ${collezione.curatore.cognome}|">Otto</span>
							</p>
							
								<p th:text="${collezione.descrizione}">descrizione</p>
								<thead>
									<tr>
										<th scope="col" th:text="#{table.id}">#</th>
										<td scope="col" th:text="#{table.title}">opera</td>
										<td scope="col" th:text="#{table.artist}">artista</td>
									</tr>
								</thead>
								<tbody>									
									<tr th:each="opera : ${collezione.opere}">
										<th scope="row"  th:text="${opera.id}">#</th>
										<td>	
											<a th:href="@{'/opera' + '/' + ${opera.id}}" th:text="${opera.titolo}">opera</a>
										</td>
										<td>
											<a th:href="@{'/artista' + '/' + ${opera.artista.id}}" th:text="|${opera.artista.nome} ${opera.artista.cognome}|">Mario Rossi</a>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- fine TABELLA -->
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
		<!-- fine Collezioni -->
		<!-- fine TABELLA -->

		
	</main>


	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->

	<th:block th:replace="fragments/base.html :: script"></th:block>
</body>
</html>
