<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='gestisci curatori')"></head>
<body>

	<header class="container text-center">
		<h2>Gestisci: <strong>Curatori</strong></h2>
	</header>
	
	<div>
		<h4>Inserisci i dati di un curatore</h4>
	</div>
	<form th:action="@{/admin/curatore}" method="POST" th:object="${curatore}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
			<div>
				<span>Nome:</span>
				<span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>		
			<div>
				<span>Cognome:</span>
				<span><input type="text" th:field="*{cognome}" /></span>
				<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			</div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>