<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>

<body>

	<!-- inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->


	<div class="container">
		<div class="row">
			<div class="col-lg-6 m-auto">
				<h2>Informazioni</h2>
				<p>Questo sito è un sistema informativo di un piccolo museo.</p>
				<p>Nel museo ci sono più collezioni: ogni collezione è gestita
					da un curatore (un dipendente del museo) e contiene una o più
					opere. Ogni collezione ha un nome e una descrizione. Un curatore
					può gestire una o più collezioni. Per ogni curatore sono di
					interesse nome, cognome, data e luogo di nascita, indirizzo di
					posta elettronica, numero di telefono, matricola.</p>

				<p>Per ogni opera esposta nelle collezioni del museo sono
					memorizzati il titolo, l’anno in cui è stata realizzata, una
					descrizione. Ogni opera è stata realizzata da un artista. Per ogni
					artista, sono di interesse nome, cognome, data di nascita e luogo
					di nascita, data e luogo di morte (che potrebbero non essere
					presenti se l’artista è ancora in vita), nazionalità. Ogni artista
					può essere autore di più opere.</p>
			</div>
		</div>


	</div>


	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->

	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
